body{
    background: rgb(37,44,52);
background: radial-gradient(circle, rgba(37,44,52,1) 89%, rgba(81,93,107,1) 100%, rgba(139,139,139,1) 100%);
   font-family: 'Roboto', sans-serif;
}

.kiki{
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}
@media only screen and (max-width: 600px){
    .kiki{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
.people{
    font-weight: 900;
    text-decoration: underline;
}

.title{
     text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
     font-family: 'Noto Serif', serif;
}
.cardhome:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.2) !important;
}
.cardhome{
    height: 470px;
}

.overflow{
    overflow: hidden;
}
.card-img-top{
    transition: all 0.2s ease-in-out;
    
}
.card-img-top:hover{
    transform: scale(1.8);
}

.user{
    font-family: 'Open Sans', sans-serif;
    
}

navtext{
    text-decoration: none;
}
